.main-header {
    padding: 20px 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

form {
    width: 60%;
    margin: 0 auto;
}

form {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey-base-color);
}

form > * {
    width: 100%;
}

label {
    display: block;
    font-weight: 600;
    margin-top: 20px;
    font-size: 16px;
}

label.username-info,
label.comment-info {
    visibility: hidden;
    font-weight: 300;
    margin-top: 10px;
    font-size: 14px;
    color: var(--error-base-color);
}

label.username-info.error,
label.comment-info.error {
    visibility: visible;
}

input, textarea {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--base-color);
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.input-error {
    border-color: var(--error-base-color);
}

.input-error:focus {
    box-shadow: 0 0 15px var(--error-light-color);
}

input:focus,
textarea:focus {
    box-shadow: 0 0 15px var(--grey-base-color);
}

button {
    border: none;
    outline: none;
}

.submit-btn {
    display: block;
    margin: 20px auto 0;
    padding: 8px 0;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    background: linear-gradient(var(--btn-gr-color1), var(--btn-gr-color2));
}

.submit-btn:hover {
    background: linear-gradient(var(--btn-gr-color2), var(--btn-gr-color1));
}

.submit-btn[disabled], .submit-btn[disabled]:hover {
    background: var(--grey-base-color);
}
